.top {
  height: 15%;
  width: 100%;
  position: fixed;
  text-align: center;
  display: table;
}

.top-left {
  width: 80%;
  height: 100%;
  left: 0;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.top-right {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center; /*horizontal centering*/
  justify-content: center; /*vertical centering*/
  flex-direction: column; /*keep the h3 above the textbox*/
}

.split1 {
  height: 85%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 15%;
  overflow-x: hidden;
  padding-top: 20px;
}

.split2 {
  height: 85%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 15%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

.middle {
  left: 20%;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-dark {
  color: #fafafa;
  background-color: #121212;
}

.dark {
  background-color: #212121;
  color: #fafafa;
}

.top-white {
  background: linear-gradient(to bottom, #061121 70%, #0e2139);
  color: #fafafa;
}

.white {
  background-color: #fafafa;
  color: #212121;
}

a:link {
  color: #f58b4c;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #da621e;
  background-color: transparent;
  text-decoration: none;
}

.image {
  width: 100%;
  border-radius: 50%;
}

.contact-dark {
  background: linear-gradient(to bottom, #132d46, #143a60);
}
.contact-white {
  background: linear-gradient(to bottom, #143a60, #1682e4);
}

.contact-link:link {
  color: #fafafa !important;
  background-color: transparent;
  text-decoration: none;
}

.contact-link:visited {
  color: #fafafa !important;
  background-color: transparent;
  text-decoration: none;
}

.contact-div {
  color: #fafafa;
  width: 65%;
}

.low-contact {
  text-align: center;
}

.low-contact a {
  padding: 5px;
}

.text-frame {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 10%;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.intro {
  height: calc(20% - 20px);
  width: 90%;
  position: relative;
}

.experience {
  height: calc(80% - 20px);
  width: 90%;
  position: relative;
}

.skills {
  height: calc(40% - 20px);
  width: 100%;
  position: relative;
}

.education {
  height: calc(20% - 20px);
  width: 100%;
  position: relative;
}

.extra {
  height: calc(20% - 20px);
  width: 100%;
  position: relative;
}

.languages {
  height: calc(20% - 20px);
  width: 100%;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Staatliches&display=swap');

#curriculum-vitae {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Staatliches', cursive;
}
